<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="./node_modules/jquery-validation/dist/localization/messages_zh.min.js"></script>
    <script src="./node_modules/layui-layer/dist/layer.js"></script>
    <script src="./node_modules/js-md5/build/md5.min.js"></script>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/axios/dist/axios.js"></script>
    <script src="./js/apilist.js"></script>
    <script src="./js/common.js"></script>
    <title>用户登录</title>
    <script>
        $(function(){
            new Vue({
                el:'#loginPage',
                data:{
                    loginName: null,
                    password: null,
                },
                mounted: function() {
                    this.init();
                },
                methods:{
                    init: function(){
                        $("#loginForm").validate({
                            submitHandler: function(form) {
                            }
                        });
                    },
                    login: function() {
                       if(!$("#loginForm").valid()){
                           return;
                       }
                        var index = showLoading();
                        var param = {};
                        param.loginName = this.loginName;
                        var pwd = salt.charAt(4) + salt.charAt(2) + this.password + salt.charAt(1) + salt.charAt(3);
                        param.password = md5(pwd);
                        var url = _fn.loginApiUrl();
                        ajax_post(url,param,this.loginCallback);
                    },
                    loginCallback:function () {
                        window.location.href = '/goods_list.html';
                    },
                    resetForm: function(){
                        this.loginName = null;
                        this.password = null;
                    }
                }
            });
        });
    </script>
</head>
<body>
<div class="container" id="loginPage">
    <div class="row" >
        <div class="col-md-7" style="margin-left: auto;margin-right: auto;">
            <form id="loginForm">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="loginName" class="col-md-3 col-sm-4 control-label">登录名：</label>

                    <div class="col-md-7 col-sm-8">
                        <input type="text" class="form-control" id="loginName" name="loginName" placeholder="登录名" v-model="loginName" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 col-sm-4 control-label">密码：</label>

                    <div class="col-md-7 col-sm-8">
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码" v-model="password" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default btn-primary" @click="login()">登录</button>
                        <span style="margin-left: 10px;"></span>
                        <button class="btn btn-default btn-primary" @click="resetForm()">重置</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>