<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="./node_modules/jquery-validation/dist/localization/messages_zh.min.js"></script>
    <script src="./node_modules/layui-layer/dist/layer.js"></script>
    <script src="./node_modules/js-md5/build/md5.min.js"></script>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/axios/dist/axios.js"></script>
    <script src="./js/common.js"></script>
    <title>用户注册</title>
    <script>
        $(function(){
            new Vue({
                el:'#registerPage',
                data:{
                    nickname:null,
                    loginName: null,
                    registerPhone: null,
                    password: null,
                    password2: null
                },
                mounted: function() {
                    this.init();
                },
                methods:{
                    init: function(){
                        $("#registForm").validate({
                            submitHandler: function(form) {
                            }
                        });
                    },
                    regist: function() {
                       if(!$("#registForm").valid()){
                           return;
                       }
                        var index = showLoading();
                        var param = {};
                        param.nickname = this.nickname;
                        param.loginName = this.loginName;
                        param.password = md5(this.password);
                        param.registerPhone = this.registerPhone;
                        var url = config.HOST + "/regist/post";
                        ajax_post(url,param,ajaxCallback2);
                    },
                    resetForm: function(){
                        this.nickname = null;
                        this.loginName = null;
                        this.registerPhone = null;
                        this.password = null;
                        this.password2 = null;
                    }
                }
            });
        });
    </script>
</head>
<body>
<div class="container" id="registerPage">
    <div class="row" >
        <div class="col-md-7" style="margin-left: auto;margin-right: auto;">
            <form id="registForm">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="nickname" class="col-md-3 col-sm-4 control-label">用户名：</label>

                    <div class="col-md-7 col-sm-8">
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="用户名" v-model="nickname" required="true">
                    </div>
                </div>

                <div class="form-group">
                    <label for="loginName" class="col-md-3 col-sm-4 control-label">登录名：</label>

                    <div class="col-md-7 col-sm-8">
                        <input type="text" class="form-control" id="loginName" name="loginName" placeholder="登录名" v-model="loginName" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerPhone" class="col-md-3 col-sm-4 control-label">注册手机号：</label>

                    <div class="col-md-7 col-sm-8">
                        <input type="tel" class="form-control" id="registerPhone" name="registerPhone" placeholder="注册手机号" v-model="registerPhone" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 col-sm-4 control-label">密码：</label>

                    <div class="col-md-7 col-sm-8">
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码" v-model="password" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2" class="col-md-3 col-sm-4 control-label">确认密码：</label>

                    <div class="col-md-7 col-sm-8">
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="确认密码" v-model="password2" required="true" equalTo="#password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default btn-primary" @click="regist()">注册</button>
                        <span style="margin-left: 10px;"></span>
                        <button class="btn btn-default btn-primary" @click="resetForm()">重置</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>